<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>177186370421-lnc4jjgkipcsue6064b519ame7ji5svg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177186370421-lnc4jjgkipcsue6064b519ame7ji5svg</string>
	<key>API_KEY</key>
	<string>AIzaSyDfYVzXRq2XMQyCktHpKUA5ayj8iiQ48iM</string>
	<key>GCM_SENDER_ID</key>
	<string>177186370421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viniciusmo.baroneza</string>
	<key>PROJECT_ID</key>
	<string>ligado-nos-trens</string>
	<key>STORAGE_BUCKET</key>
	<string>ligado-nos-trens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177186370421:ios:6687d451d49df96e</string>
	<key>DATABASE_URL</key>
	<string>https://ligado-nos-trens.firebaseio.com</string>
</dict>
</plist>